<form method="POST" action="/quizzes/<%= quiz.id %>/tips/<%= tip.id%>">

    <div class="wideRow">

        <span class="itemNarrow">Edit Tip:</span>

        <input type="text" class="itemWide" id="tip" name="text" value="" placeholder="Tip" autocomplete="off" />

        <button type="submit" class="itemNarrow">Add</button>
    </div>

</form>
